body {
  background: url('/static/sproutcore/iphone_theme/en/268c56a061b439c54f2f9d5dc4b57a409b968bc0/images/pinstripes.png') repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}